@charset "UTF-8";

header{
  background-color: black;
  color: white;
}
  
header a{
  color: white;
}
  
#menu{
  width: 40px;
  padding: 10px;
  padding-right: 0px;
  font-size: 25px;
}
  
#page-title{
  text-align: center;
  position: static;
  margin: auto;
  margin-bottom: 10px;
}
  
.title{
  padding-top: 10px;
  position: relative;
  width: 100vw;
}
  
#blank0{
  width: 50px;
}
  
button{
  border: transparent;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: white;
}
  
#navbar{
  margin: 0px;
  padding: 0px;
  width: 100%; 
}
  
li{
  list-style: none;
  margin: 0px;
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px;
}
  

td.menuitem:hover{
  transition: .5s;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}
  
a{
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 472px){
.banner{
  margin-top: 100px;
}
#first_image{
  margin-top: 100px;
}
}

@media only screen and (min-width: 473px){
  .banner{
    margin-top: 64px;
  }
  #first_image{
    margin-top: 64px;
  }
}

@media only screen and (max-width: 599px){
header{
  position: fixed;
  top: 0px;
}

 #navbar{
    visibility: hidden; 
    opacity: 0; 
    display: none; 
    transition: 1s;
}  
 .menuitem{
    display: block;
}
 #menubar{
    width: 100%;
} 
}

@media only screen and (min-width: 600px){

header{
  top: 0px;
  position: fixed;
}  
#navbar{
  visibility: visible;
  opacity: 1;
  display: block;
  transition: 1s;
}
  #menubar{
      width: 100%;
      display: inline-table;
      color: white;
  }
  #menubar a{
    color: white;
  }
  li{
    border: transparent;
  }
  td{
    width: 25%;
  }
  #menu_shower{
    visibility: hidden;
  }
  .banner{
    margin-top: 109px;
  }
  #first_image{
    margin-top: 109px;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}