@charset "UTF-8";

@media only screen and (max-width: 320px){
    .caller_img{
        width: 80vw;
    }
}

@media only screen and (min-width: 321px) {
    .caller_img{
        width: 80vw;
    }
}

@media only screen and (min-width:375px){

    .caller_img{
        width: 70vw;
    }
    span:hover .caller_img{
        transition: .5s;
        width: 75vw;
      }
}

@media only screen and (min-width: 425px){
    .banner p{
        font-size: 17px;
    }
}

@media only screen and (min-width: 768px){
    main{
        transition: .5s;
        width: 80vw;
        margin: auto;
        text-align: center;
      }
      .caller_img{
          width: 400px;
      }
      span:hover .caller_img{
          width: 440px;
          transition: .5s;
      }
      .banner p{
        font-size: 20px;
      }
      
      .content{
        display: inline;
        margin: auto;      
    }

      a.internal p{
        width: 60vw;
        margin: auto;
      }
}

@media only screen and (min-width: 1024px){
   .banner p{
    font-size: 2vw;
   } 
}

@media only screen and (min-width: 1600px){
    a.internal{
        display: inline-block;
        width: 33%;
      }
      a.internal p{
        height: 200px;
        margin: 0px;
        width: unset;
      }
}

@media only screen and (min-width: 2160px){
    
}

@media only screen and (min-width: 2560px) {
    
}
