@charset "UTF-8";

#first_image{
    background: linear-gradient(to bottom, rgba(0,0,0, 0), black), url(/assets/pexels-pixabay-355465.jpg) no-repeat bottom;
    background-size: cover;
    width: 100%;
    color: white;
    height: 300px;
    left: 0px;
    margin: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

#first_image p{
    text-align: center;
    margin: auto;
    display: block;
}

#first_image h1{
    padding-top: 50px;
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
}

#first_image h2{
    text-align: center;
    padding-top: 50px;

}